:root {
    --background-primary: #fff;
    --color-primary: #333;
}

html[data-theme1112='dark'] {
    --background-primary: #030303;
    --color-primary: #ccc;
}

html {
    transition: color 300ms, background-color 300ms;
    background: var(--background-primary);
    color: var(--color-primary);
}

h1,
h2,
p {
    color: var(--color-primary);
}